/* DESKTOP */
@media screen and (min-width: 1280px) {
    .only-desktop {
        display:block
    }

    .only-mobile {
        display: none
    }

    h1 {
        font-size: 60px;
        line-height: 48px;
        font-weight: 700
    }

    h2 {
        font-size: 44px;
        line-height: 50px;
        font-weight: 700
    }

    h3 {
        font-size: 26px;
        line-height: 34px;
        font-weight: 700;
        color: #5eeff7
    }
    
    .section {
        width: 100%
    }

    .section .content {
        padding: 80px 40px
    }

    .copete {
        font-size: 20px;
    }

    .section2 .content .txt {
        font-size: 38px;
        line-height: 45px;
        max-width: 700px
    }

    .section5 .content .bloques {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between
    }

    .section5 .content .bloques .col {
        width: calc(50% - 20px)
    }

    .section5 .content .bloques .bloque1 {
        padding-top: 26px;
        padding-bottom: 36px;
        justify-content: space-between
    }

    .section5 .content .bloques .bloque1 .innercol1 {
        width: calc(100% - 140px)
    }

    .section5 .content .bloques .bloque1 .innercol1 h3 {
        font-size: 24px
    }

    .section5 .content .bloques .bloque1 .innercol2 {
        width: 140px;
        text-align: center;
        text-align: center;
        display: flex
    }

    .section5 .content .bloques .bloque1 .innercol2 img {
        width: 80px
    }

    .section5 .content .bloques .bloque1 .txt {
        font-size: 44px;
        margin-top: 10px
    }

    .section5 .content .bloques .dosbloques .bloque2 {
        padding: 36px 20px 20px
    }

    .section5 .content .bloques .dosbloques .bloque2 .logo img {
        height: 46px
    }

    .section5 .bloques .bloque.bloque-azul {
        margin-top: 70px;
    }

    .cards-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .card {
        flex: 1 1 calc(33.33% - 40px);
        margin: 20px;
    }
    
    .card-content {
        display: flex; 
    }

    .section8 .content .txts,.section8 .content h4 {
        max-width: 75%;
        margin: 0 auto
    }

    .pantallas1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto; 
        grid-gap: 10px; 
        align-items: center;
      }
    
    .pantalla1-item:nth-child(1) {
        grid-column: 1; 
        grid-row: 1;
    }
    
    .pantalla1-descrip:nth-child(2) {
        grid-column: 2; 
        grid-row: 1;
    }
    
    .pantalla1-descrip:nth-child(3) {
        grid-column: 1;
        grid-row: 2;
    }
    
    .pantalla1-item:nth-child(4) {
        grid-column: 2;
        grid-row: 2;
    }
    
    
    .pantalla1-item:nth-child(5) {
        grid-column: 1; 
        grid-row: 3;
    }
    
    .pantalla1-descrip:nth-child(6) {
        grid-column: 2; 
        grid-row: 3;
    }
    
      
    .pantalla1-descrip:nth-child(7) {
        grid-column: 1; 
        grid-row: 4;
    }
    
    .pantalla1-item:nth-child(8) {
        grid-column: 2;
        grid-row: 4;
    }
    
    
    .pantalla1-item:nth-child(9) {
        grid-column: 1;
        grid-row: 5;
    }
    
    .pantalla1-descrip:nth-child(10) {
        grid-column: 2; 
        grid-row: 5;
    }

    .pantalla1-descrip:nth-child(11) {
        grid-column: 1; 
        grid-row: 6;
    }

    .pantalla1-item:nth-child(12) {
        grid-column: 2;
        grid-row: 6;
    }
    
    .pantalla1-item img {
        width: 100%;
        max-width: 500px; 
        margin: 0 auto; 
    }
    
    .pantalla1-descrip {
        padding: 20px;
        text-align: left;
    }

    .pantallas2 {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto;
        grid-gap: 10px; 
        align-items: center;
    }
    
    .pantalla2-item:nth-child(1) {
        grid-column: 1; 
        grid-row: 1;
    }
    
    .pantalla2-descrip:nth-child(2) {
        grid-column: 2; 
        grid-row: 1;
    }
    
    .pantalla2-descrip:nth-child(3) {
        grid-column: 1; 
        grid-row: 2;
    }
    
    .pantalla2-item:nth-child(4) {
        grid-column: 2; 
        grid-row: 2;
    }
    
    .pantalla2-item:nth-child(5) {
        grid-column: 1; 
        grid-row: 3;
    }
    
    .pantalla2-descrip:nth-child(6) {
        grid-column: 2; 
        grid-row: 3;
    }
    
    .pantalla2-item img {
        width: 100%;
        max-width: 500px; 
        margin: 0 auto; 
    }
    
    .pantalla2-descrip {
        padding: 20px;
        text-align: left;
    }

    .table-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
      }
}


        
    

